[submodule "api/assets/ozi"]
	path = api/assets/ozi
	url = https://github.com/OZI-Project/OZI/
[submodule "api/assets/brand"]
	path = api/assets/brand
	url = https://github.com/OZI-Project/brand
[submodule "api/assets/ozi_templates"]
	path = api/assets/ozi_templates
	url = https://github.com/OZI-Project/ozi_templates
[submodule "api/assets/tap_producer"]
	path = api/assets/tap_producer
	url = https://github.com/OZI-Project/TAP-Producer
[submodule "api/assets/ozi_core"]
	path = api/assets/ozi_core
	url = https://github.com/OZI-Project/ozi-core
[submodule "api/assets/ozi_spec"]
	path = api/assets/ozi_spec
	url = https://github.com/OZI-Project/ozi-spec
