
@font-face {
  font-family: "Atkinson Hyperlegible";
  src: local("Atkinson Hyperlegible"),
    url("https://oziproject.dev/assets/brand/fonts/atkinsonhyperlegible/AtkinsonHyperlegible-Regular.ttf");
}

@font-face {
  font-family: "Noto Serif HK";
  src: local("Noto Serif HK"),
    url("https://oziproject.dev/assets/brand/fonts/notoserifhk/NotoSerifHK[wght].ttf");
}

@font-face {
  font-family: "Martian Mono";
  src: local("Martian Mono"),
    url("https://oziproject.dev/assets/brand/fonts/martianmono/MartianMono[wdth,wght].ttf");
}

abbr {
    cursor: help;
}
div a[href="index.html"]:hover {
    text-decoration: underline;
}
.footnote-reference.brackets {
    vertical-align: super;
    font-size: .75em;
    text-decoration-line: none !important;
}
.fn-bracket {
    display: none;
}
.sd-avatar-md {
    filter: invert(100)
}
#content img {
    margin-top: 0;
}
code {
    font-family: "Martian Mono", "Jetbrains Mono" !important;
    font-size: 12px !important;
}
.font-sans {
    font-family: "Atkinson Hyperlegible", "Helvetica Neue", "sans-serif" !important;
}
