p abbr {
    cursor: help;
}
div a[href="index.html"]:hover {
    text-decoration: underline;
}
.footnote-reference.brackets {
    vertical-align: sub;
    font-size: .75em;
}
.fn-bracket {
    display: none;
}
