
abbr {
    cursor: help;
}
div a[href="index.html"]:hover {
    text-decoration: underline;
}
.footnote-reference.brackets {
    vertical-align: super;
    font-size: .75em;
    text-decoration-line: none !important;
}
.fn-bracket {
    display: none;
}
.sd-avatar-md {
    filter: invert(100)
}
#content img {
    margin-top: 0;
}
code {
    font-family: "Martian Mono", "Jetbrains Mono" !important;
    font-size: 12px !important;
}
.font-sans {
    font-family: "Atkinson Hyperlegible", "Helvetica Neue", "sans-serif" !important;
}

.rst-versions.rst-badge {
    display: block;
    bottom: 0px !important;
    height: auto;
    left: 2em;
    width: fit-content;
}

main .gsc-loading-image {
    background-image: url("https://raw.githubusercontent.com/OZI-Project/brand/refs/heads/main/images/ozi-build-loading.gif") !important;
}
